.grid {
    display: flex;
    flex-flow: row wrap;
}

.flex {
    display: flex;
}

.flex-inline {
    display: inline-flex;
}

.flex--row-reverse {
    flex-direction: row-reverse;
}

.flex--col {
    flex-direction: column;
}

.flex--col-reverse {
    flex-direction: column-reverse;
}

.flex--justify-center {
    justify-content: center;
}

.flex--justify-end {
    justify-content: flex-end;
}

.flex--justify-start {
    justify-content: flex-start;
}

.flex--space-around {
    justify-content: space-around;
}

.flex--space-between {
    justify-content: space-between;
}

.flex--margin-left {
    margin-left: auto;
}

.flex--margin-right {
    margin-right: auto;
}

.flex--margin-top {
    margin-top: auto;
}

.flex--align-start {
    align-items: flex-start;
}

.flex--align-end {
    align-items: flex-end;
}

.flex--align-center {
    align-items: center;
}

.flex--align-self-start {
    align-self: start;
}

.flex--align-self-end {
    align-self: flex-end;
}

.flex--align-self-center {
    align-self: center;
}

.flex--align-baseline {
    align-items: baseline;
}

.flex--centered {
    align-items: center;
    justify-content: center;
}

.flex--grow {
    flex-grow: 1;
}

.flex--basis-full {
    flex-basis: 100%;
    width: 100%;
}

.no-flex--basis {
    flex-basis: 0;
}

.no-flex--shrink {
    flex-shrink: 0;
}

.no-flex--resize {
    flex: 0 0 auto;
}

.order--first {
    order: -1;
}
